body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;

}
.login_form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center ;
    border-radius: 20px;
}

@font-face {
    font-family: "sticky notes";
    src: url(../font/Sticky\ Notes.ttf);
}
.login_form h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "sticky notes";
}

.login_form input[type = "text"],.login_form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3220d1;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    font-family: "sticky notes";
    font-size: 20px;
}
.login_form input[type = "text"]:focus,.login_form input[type = "password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}
.login_form button[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1s;
    cursor: pointer;
    font-family: "sticky notes";
    font-size: 20px;
}
.login_form button[type = "submit"]:hover {
    background: #2ecc71;
}
h1 {
    font-family: "sticky notes";
    text-align: center;
    margin: 50px auto;
    color: white;
}